<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="89f30cce-f8c8-4d9f-bf31-03ee8ffa94ff" name="TestSuite 2" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="89f30cce-f8c8-4d9f-bf31-03ee8ffa94fffileName">TestSuite-2</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
  <con:environmentSpec>
    <con:entry environmentId="3a52c1b1-0b22-4256-8180-88887d9c32da">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
  </con:environmentSpec>
</con:testSuite>
