<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="f9815d46-d97b-403a-a38c-2ae320fd1108" name="Project 1 TestSuite 1" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="f9815d46-d97b-403a-a38c-2ae320fd1108fileName">Project-1-TestSuite-1</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
  <con:environmentSpec>
    <con:entry environmentId="3a52c1b1-0b22-4256-8180-88887d9c32da">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
  </con:environmentSpec>
</con:testSuite>
